.card {
    display: flex;
    justify-content: flex-start;
    border: 1px solid black;
    width: 32%;
    height: 7vh;
    margin-top: 6px;
    transition: all 0.3s;
    box-shadow: 0px 0px 3px 0px black;
    border-radius: 10px;
}

.card input {
    margin-left: 16px;
    margin-right: 16px;
}

.card p {
    width: 100%;
    overflow: hidden;
}

.card:hover {
    scale: 1.05;
}